@media(min-width: 800px){
    body{
        font-family: 'Poppins', sans-serif;
        font-size: 1.1rem;
        line-height: 1.4;
        display: flex;
        align-content: space-around;
        flex-direction: column;
    }
    #navbar{
        left: 0px;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        position: fixed;
    }
    #navbar header{
        text-align: center;
    }
    .nav-link{
        border-top: thin solid black;
        padding: 15px 0 15px 20px;

    }
    #main-doc{
        width: 78%;
        margin-left: auto;
        padding-right: 10px;
    }
    code{
        display: block;
        width: 80%;
        background-color: whitesmoke;
        margin: 5px auto 5px auto;
        padding: 10px;
    }
}